// app global css in SCSS form

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

/* Minimal styling for number inputs: hide native spinners and show small colored chevrons */
input[type='number'] {
  padding-right: 1.8rem; /* space for chevrons */
  background-color: transparent;
}

/* hide native spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
